In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
import yelpapi

In [51]:
census_pd = pd.read_csv("project_data.csv")


# Preview the data
census_pd.head()

,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,...,Service,Office,Construction,Production,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,4830620,2341093,2489527,3.751616,61.878656,31.252976,0.453231,1.050255,0.034354,43296.358603,...,18.286638,23.812766,10.229362,17.380511,1712.383573,78.274468,16.264085,5.260085,0.200596,10.686723
1,733375,384160,349215,5.909581,60.910180,2.848503,16.391018,5.450299,1.058683,70354.743902,...,17.954217,21.990964,13.470482,11.663253,2102.443114,65.080723,27.586145,7.121687,0.209639,9.268072
2,6641928,3299088,3342840,29.565921,57.120000,3.850987,4.355066,2.876579,0.167632,54207.820955,...,20.442442,26.056832,9.813069,9.877096,1843.647444,78.244752,15.364818,6.225149,0.165941,9.469901
3,2958208,1451913,1506295,6.215474,71.137810,18.968759,0.522920,1.142336,0.146861,41935.633968,...,17.985693,23.384088,11.154891,17.531241,1831.021866,76.176204,17.080730,6.535620,0.206423,8.529489
4,38421464,19087135,19334329,37.291875,40.215789,5.677396,0.405292,13.052234,0.351410,67264.782303,...,19.192177,23.656127,9.582901,11.403417,2140.543627,77.245901,13.978921,8.592965,0.182876,10.191290

In [49]:
def price_rating(state): 

    results = []
    search_results = yelp_api.search_query(term="restaurant", location=state, limit=50, sort_by="review_count")
    for business in search_results['businesses']:
        
        price = business['price']
        rating= business['rating']
        type=business["categories"][0]['alias']
        reviews=business['review_count']
       
        results.append((price, rating, type, reviews))
    return results
price_rating("Alabama")

[('$$', 4.5, 'bbq', 620),
 ('$$', 4.5, 'mexican', 481),
 ('$$', 4.5, 'bbq', 459),
 ('$$', 4.5, 'cocktailbars', 448),
 ('$$', 4.0, 'latin', 433),
 ('$$', 4.0, 'burgers', 405),
 ('$$', 4.5, 'southern', 346),
 ('$', 4.0, 'burgers', 337),
 ('$$', 3.5, 'bbq', 322),
 ('$$$', 3.5, 'cajun', 318),
 ('$', 4.5, 'cafes', 318),
 ('$$', 4.0, 'pizza', 315),
 ('$$', 4.0, 'breakfast_brunch', 315),
 ('$$', 3.5, 'mexican', 310),
 ('$$', 4.0, 'italian', 305),
 ('$$', 4.0, 'bbq', 304),
 ('$$', 3.5, 'tex-mex', 296),
 ('$$', 4.0, 'diners', 279),
 ('$$', 4.5, 'french', 278),
 ('$', 4.0, 'grocery', 278),
 ('$$', 4.0, 'bars', 278),
 ('$$', 4.0, 'pubs', 277),
 ('$$', 3.5, 'seafood', 277),
 ('$$', 4.0, 'pizza', 270),
 ('$$', 4.5, 'newamerican', 270),
 ('$$', 4.0, 'breakfast_brunch', 267),
 ('$$', 4.0, 'newamerican', 254),
 ('$$', 4.0, 'bars', 252),
 ('$$', 2.5, 'gastropubs', 251),
 ('$$', 3.5, 'southern', 247),
 ('$$', 4.5, 'sushi', 243),
 ('$$$', 4.5, 'southern', 243),
 ('$$', 4.5, 'arcades', 239),
 ('$$', 4.5, 'breakfast_brunch', 233),
 ('$$$', 4.5, 'seafood', 233),
 ('$$', 4.0, 'vietnamese', 232),
 ('$$', 4.5, 'falafel', 231),
 ('$$', 3.5, 'desserts', 229),
 ('$$', 2.0, 'bbq', 223),
 ('$$$', 4.0, 'bars', 221),
 ('$$', 4.0, 'steak', 220),
 ('$$', 4.5, 'bbq', 217),
 ('$$', 3.5, 'breakfast_brunch', 216),
 ('$$', 4.0, 'sushi', 216),
 ('$$', 4.0, 'sushi', 210),
 ('$$', 4.0, 'newamerican', 206),
 ('$$', 3.5, 'seafood', 204),
 ('$$', 4.0, 'southern', 204),
 ('$$', 4.0, 'sushi', 203),
 ('$', 4.5, 'burgers', 202)]

In [17]:
print (business['price'])

$$